.header {
  background-color: #fa4f90;
}

.container {
  max-width: 720px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: transparent;
  color: #fff;
}

.header_title {
  font-size: 2.5rem;
  font-family: 'Kaushan Script', cursive !important;
  text-transform: capitalize;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
