table {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
  margin: 1rem auto 1.5rem auto;
  color: #fff;
  font-size: 1.6rem;
}

tbody {
  flex-basis: 48%;
}

tr {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}

tr:nth-child(even) {
  background-color: #ec407a;
}

tr:hover {
  background-color: #d81b60;
}

td {
  padding: 0.2rem 0;
}

td:nth-child(even) {
  flex-basis: 35%;
  text-align: right;
}

td:nth-child(odd) {
  flex-basis: 65%;
}

.city__aqi {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #ec4c8a;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem auto 2.5rem auto;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  tbody {
    flex-basis: 100%;
  }

  td {
    width: 100%;
    padding: 0.2rem 0.5rem;
  }
}
